.fixed-button.back-button.text-left
  %h3
    = link_to "Back to Groups", groups_path
%h2
  = @name
- if @results[:num_words] != 0
  .stats-totals.container
    %h3
      Message/Word Stats
    %h4
      = "This group has a total of #{@results[:num_messages]} user messages between #{@results[:user_frequency].count} users."
      %br
      = "There's a total of #{@results[:num_words]} words and an average #{@results[:average_words]} words per message."
  .stats-mosts.container
    %h3
      Most Liked Message
    = render partial: 'groups/message', locals: {message: @results[:most_liked]}
    .message-favorites
      = "Liked by #{@results[:most_liked]['favorited_by'].count} "
      = @results[:most_liked]['favorited_by'].count == 1 ? "person" : "people"
    %h3
      Latest Message
    = render partial: 'groups/message', locals: {message: @results[:first]} 
    %h3
      Earliest Message
    = render partial: 'groups/message', locals: {message: @results[:last]}
  .stats-frequencies.container
    .stats-frequency.container
      %h4
        Most frequent user
      = "#{format_user_names @users.values[0][0]} with #{@users.values[0][1]} messages"
    .stats-frequency.container
      %h4
        Most frequent word
      = "\"#{@words.keys[0]}\" with #{@words.values[0]} instances"
    .stats-frequency.container
      %h4
        Most frequent posting time
      = "#{format_time @most_time} with #{@most_time_value} messages"
  .stats-frequencies.container
    #time-histogram.graph
    = render partial: 'groups/time_histogram', locals: {time_frequencies: @times}
  .stats-frequencies.container
    #user-histogram.graph
    = render partial: 'groups/user_histogram', locals: {user_frequencies: @users}
  .word-frequencies.container
    .stats-frequency
      %h4
        Word Frequency
      Word = # Instances
      = render partial: 'groups/list', locals: {list: @words}
  %h3.cloud-label
    Word Cloud
  .stats-cloud.container
    #wordcloud
    = render partial: 'groups/wordcloud', locals: {words: @words.keys, weights: @words.values}
- else
  %h3
    %br
    No messages posted in this group by users yet.
