.back-link.text-left
  %h3
    = link_to "Back to Groups", groups_path
%h2
  = @name
- if @results[:num_words] != 0
  .stats-totals.container
    %h3
      Message/Word Stats
    %h4
      = "This group has a total of #{@results[:num_messages]} user messages between #{@results[:user_frequency].count} users."
      %br
      = "There's a total of #{@results[:num_words]} words and an average #{@results[:average_words]} words per message."
  .stats-mosts.container
    %h3
      Most Liked Message
    = render partial: 'groups/message', locals: {message: @results[:most_liked]}
    .message-favorites
      = "Liked by #{@results[:most_liked]['favorited_by'].count} "
      = @results[:most_liked]['favorited_by'].count == 1 ? "person" : "people"
    %h3
      Latest Message
    = render partial: 'groups/message', locals: {message: @results[:first]} 
    %h3
      Earliest Message
    = render partial: 'groups/message', locals: {message: @results[:last]}
  .stats-frequencies.container
    .stats-frequency.container
      %h4
        Most frequent user
      = "#{format_user_names @users.values[0][0]} with #{@users.values[0][1]} messages"
    .stats-frequency.container
      %h4
        Most frequent word
      = "\"#{@words.keys[0]}\" with #{@words.values[0]} instances"
    .stats-frequency.container
      %h4
        Most frequent posting time
      = "#{format_time @most_time} with #{@most_time_value} messages"
  .stats-frequencies.container
    -# Graph of Messages by time = Histogram?
    -# Graph of Messages by month = Line graph
    -# Graph of Messages by person = Histogram? or bargraph
    -# Graph of Messages by time = Highstock advanced graph?
    -# Wordcloud of words
    #time-histogram{style: "width:100%; height:400px;"}
    = render partial: 'groups/time_histogram', locals: {time_frequencies: @times}


- else
  %h3
    %br
    No messages posted in this group by users yet.
