.back-link.text-left
  %h3
    = link_to "Back to Groups", groups_path
%h2
  = @name
- if @results[:num_words] != 0
  .stats-totals.container
    %h3
      Message/Word Stats
    %h4
      = "This group has a total of #{@results[:num_messages]} user messages between #{@results[:user_frequency].count} users."
      %br
      = "There's a total of #{@results[:num_words]} words and an average #{@results[:average_words]} words per message."
  .stats-mosts.container
    %h3
      Most Liked Message
    = render partial: 'groups/message', locals: {message: @results[:most_liked]}
    .message-favorites
      = "Liked by #{@results[:most_liked]['favorited_by'].count} "
      = @results[:most_liked]['favorited_by'].count == 1 ? "person" : "people"
    %h3
      Latest Message
    = render partial: 'groups/message', locals: {message: @results[:first]} 
    %h3
      Earliest Message
    = render partial: 'groups/message', locals: {message: @results[:last]}
  .stats-frequencies.container
    .stats-frequency.container
      %h4
        Most frequent user
      = "#{format_user_names @users.values[0][0]} with #{@users.values[0][1]} messages"
    .stats-frequency.container
      %h4
        Most frequent word
      = "\"#{@words.keys[0]}\" with #{@words.values[0]} instances"
    .stats-frequency.container
      %h4
        Most frequent posting time
      = "#{format_time @times.keys[0]} with #{@times.values[0]} messages"
  .stats-frequencies.container
    -# Graph of Messages by month
    -# Graph of Messages by person
    -# Graph of Messages by time
    -# Sort out words from stoplist
    .stats-frequency.container
      %h4
        User Message Frequency
      User = # Messages
      = render partial: 'groups/user_list', locals: {list: @users}
    .stats-frequency.container
      %h4
        Word Frequency
      Word = # Instances
      = render partial: 'groups/list', locals: {list: @words}
    .stats-frequency.container
      %h4
        Time Sent Frequency
      Time = # Messages
      = render partial: 'groups/time_list', locals: {list: @times}
- else
  %h3
    %br
    No messages posted in this group by users yet.
