%html
  %head
    %title GroupUs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag
    = analytics_init if Rails.env.production?
  %body
    = gflash
    = render 'layouts/header'
    .frame.text-center  
      = yield
    .loading-frame
      %h3.text-center
        Loading...
      = image_tag "loading.gif"